/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #016FB9;
    background-color: var(--color2);
    font-family: "Inter", sans-serif;
}

/* Fonts */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

p, h1, h2 {
    color: var(--color3);
}

hr {
    color: var(--color1);
    opacity: 20%;
}

/* Cart section and it's elements */

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0 5% 0;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

.products-container, .price-container {
    padding: 4%;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5%;
    h3 {
        font-weight: 200;
    }
}

/* Products section */

.products-container {
    width: 850px;
    max-height: 780px;
    overflow-y: auto;
    background-color: var(--color1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    margin: 2% 0 2% 0;
}

.product-image {
    width: 128px;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .category {
        font-size: 1rem;
    }
    .name {
        font-size: 1.3rem;
        max-width: 150px;
        font-weight: bold;
    }
}

.item-counter {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}
  
.btn {
    font-size: 24px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
.quantity {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--color3);
    border-radius: 4px;
}

.price {
    text-wrap: nowrap;
}

.remove {
    opacity: 60%;
}


/* Price section */

.price-container {
    width: 700px;
    background-color: var(--color3);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    h1, h2, h3, p, hr {
        color: var(--color1);
    }
    h2 {
        font-size: 1.8rem;
    }
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding-top: 5%;
    gap: 70%;
}

.promotional-code {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    padding-top: 15%;
    input {
        margin-top: 5%;
    }
}

.code-container {
    flex: 1;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20%;
}

.final-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 5% 0 10% 0;
}

.checkout {
    font-size: 1.3rem;
    width: 100%;
    height: 70px;
    border: none;
    background-color: var(--color1);
    color: var(--color3);
    transition: .2s ease-in-out;
    cursor: pointer;
}

/* Media queries */

/* Devtools: 1366x768 */
@media screen and (max-width: 1366px) {

}

/* Devtools: 1024x768 */
@media screen and (max-width: 1024px) {

}

/* Devtools: 768x1024 */
@media screen and (max-width: 768px) {

    /* Remove horizontal scroll */
    
    html, body {
        overflow-x: hidden;
    }

    body {
        background-color: red;
    }
    
    /* Fonts */

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
    }

    /* Cart section and it's elements */

    .cart-container {
        padding: 10% 0 0 0;
    }

    .cart {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header {
        margin: 0 5% 5% 5%;
    }

    /* Products section */

    .products-container {
        max-width: 770px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 10% 0 10% 0;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        margin: 5% 0 5% 0;
    }

    .product-image {
        width: 256px;
    }

    .product-description {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2px;
        .category {
            font-size: 1.5rem;
        }
        .name {
            font-size: 2rem;
        }
    }

    .item-counter {
        gap: 10px;
    }

    /* Price section */

    .price-container {
        max-width: 770px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 10% 0;
    }

    .summary {
        gap: 50%;
        margin: 0 5% 0 5%;
    }

    .promotional-code {
        margin: 0 5% 0 5%;
    }

    .final-price {
        margin: 0 5% 0 5%;
    }

    .checkout {
        width: 90%;
        font-size: 1.5rem;
    }

}

/* Devtools: 360x640 */
@media screen and (max-width: 360px) {

    /* Remove horizontal scroll */
    
    html, body {
        overflow-x: hidden;
    }

    body {
        background-color: var(--color1);
    }
    
    /* Fonts */

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }
    
    p {
        font-size: 0.9rem;
    }

    /* Cart section and it's elements */

    .cart-container {
        padding: 20% 0 0 0;
    }

    .cart {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header {
        margin: 0 5% 5% 5%;
    }

    /* Products section */

    .products-container {
        max-width: 360px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 10% 0 10% 0;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center !important;
        gap: 10px;
        margin: 5% 0 5% 0;
    }

    .product-image {
        width: 128px;
    }

    .product-description {
        gap: 2px;
        .category {
            font-size: 0.9rem;
        }
        .name {
            font-size: 1.2rem;
        }
    }

    .item-counter {
        gap: 5px;
    }

    /* Price section */

    .price-container {
        max-width: 360px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 10% 0;
    }

    .summary {
        gap: 50%;
        margin: 0 5% 0 5%;
    }

    .promotional-code {
        margin: 0 5% 0 5%;
    }

    .final-price {
        margin: 0 5% 0 5%;
    }

    .checkout {
        width: 90%;
        font-size: 1.2rem;
    }

}
