/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #0353A4;
    background-color: var(--color1);
    font-family: "Inter", sans-serif;
}

/* Headers */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

p, h1, h2 {
    color: var(--color3);
}

hr {
    color: var(--color1);
    opacity: 20%;
}

/* Top banner section and it's elements */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.banner-text-container {
    p {
        max-width: 700px;
    }
}

.search-bar {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 5%;
    position: relative;
}

.search-input-container {
    position: relative;
    display: inline-block;
}

.search-input {
    width: 600px;
    height: 45px;
    text-indent: 15px;
    font-size: 1.2rem;
    background-color: var(--color2);
    border: 1px solid var(--color3);
    border-color: #a3a3a3;
    border-radius: 30px;
}

.search-icon {
    width: 35px;
    position: absolute;
    background-color: var(--color3);
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    top: 50%;
    right: 10px;
    transform: translateY(-48%);
    opacity: 70%;
}

.search-icon:hover {
    opacity: 1;
}

/* Courses categories section and it's elements */

.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color2);
    padding: 5% 0 5% 0;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 55px;
    background-color: var(--color4);
    color: var(--color2);
    border-radius: 10px;
    margin: 5%;
    padding: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.category:hover {
    transform: scale(1.1);
}

.more-categories {
    width: 280px;
    font-size: 1rem;
    margin-top: 2%;
}

/* Top courses section and it's elements */

.top-courses {
    padding: 2% 0 5% 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2% 0 2% 0%;
    gap: 38%;
    h2 {
        font-size: 2.5rem;
    }
}

.carousel {
    height: 480px;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    width: 390px;
    height: 480px;
    background: linear-gradient(to top right, #070707, #0f1414, #1a2526, #2a3a44, #023e7d);
    color: var(--color1);
    border-radius: 30px;
    flex-shrink: 0;
    cursor: pointer;
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    h2, h3 {
       color: var(--color1);
    }
    .price {
        color: var(--color4);
    }
}

.group {
    display: flex;
    gap: 20px;
    will-change: transform;
    animation: scrolling 12s linear infinite;
}

.carousel:hover .group {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * (390px + 20px) * 3));
    }
}

.card-cover {
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card-content {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.rating {
    margin: 0;
    color: #f1c40f;
}


/* Best sellers courses section and it's elements */

#best-sellers {
    background-color: var(--color2);
}

.best-sellers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.best-sellers-top, .best-sellers-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.best-seller-card {
    width: 350px;
    height: 350px;
    margin: 10px;
    border-radius: 20px;
    background-color: gray;
    cursor: pointer;
}

.best-seller-card:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

/* Create course section and it's elements */

.create-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
}

.create-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding-top: 5%;
    gap: 5%;
}

.banner-text {
    p {
        max-width: 550px;
    }
}

/* Marker and about button */

.blue {
    color: var(--color4);
    font-weight: bold;
    font-style: italic;
}

.about-button {
    width: 250px;
    height: 70px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.more-button, .more-categories {
    height: 60px;
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--color4);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.more-button:hover, .more-categories:hover {
    background-color: var(--color4);
    color: var(--color1);
}

/* Media queries */

/* Devtools: 1366x768 */
@media screen and (max-width: 1366px) {
            
    /* Fonts */

    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }

    /* Top banner section and it's elements */

    .banner {
        height: 650px;
        max-height: 650px;
        gap: 5%;
        padding: 0;
    }

    .banner-text-container {
        p {
            max-width: 600px;
        }
    }

    .banner-image {
        width: 600px !important;
        height: 600px !important;
    }

    .search-input {
        width: 600px;
    }

    .search-icon {
        right: 5px;
        top: 22px;
    }

    /* Courses categories section and it's elements */

    .category {
        height: 80px;
        font-size: 1.5rem;
    }

    /* Top courses section and it's elements */

    .header {
        width: 95%;
        h2 {
            font-size: 2rem;
        }
    }

    .more-button {
        width: 250px;
        height: 50px;
        font-size: 1.5rem;
    }

    .carousel {
        width: 80%;
        height: auto;
    }

    .card {
        width: 100%;
        max-width: 300px;
        height: 400px;
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1rem;
        }
    }

    @keyframes scrolling {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-1 * (300px + 20px) * 3));
        }
    }

    /* Best sellers courses section and it's elements */

    .best-seller-card {
        width: 260px;
        height: 260px;
        margin: 5px;
    }

    /* Create course section and it's elements */

    .create-banner {
        img {
            width: 600px;
        }
        p {
            max-width: 400px;
        }
    }

}

/* Devtools: 1024x768 */
@media screen and (max-width: 1024px) {
        
    /* Fonts */

    h1 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.2rem;
    }

    /* Top banner section and it's elements */

    .banner {
        height: 550px;
        max-height: 550px;
        gap: 10%;
        padding: 0;
    }

    .banner-text-container {
        p {
            max-width: 350px;
        }
    }

    .banner-image {
        width: 500px !important;
        height: 400px !important;
    }

    .search-input {
        width: 350px;
    }

    .search-icon {
        right: 5px;
    }

    /* Courses categories section and it's elements */

    .category {
        height: 70px;
        font-size: 1.2rem;
    }

    /* Top courses section and it's elements */

    .header {
        width: 85%;
        h2 {
            font-size: 1.7rem;
        }
    }

    .more-button {
        width: 200px;
        height: 50px;
        font-size: 1.2rem;
    }

    .carousel {
        width: 80%;
        height: auto;
    }

    .card {
        width: 100%;
        max-width: 300px;
        height: 400px;
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1rem;
        }
    }

    @keyframes scrolling {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-1 * (300px + 20px) * 3));
        }
    }

    /* Best sellers courses section and it's elements */

    .best-seller-card {
        width: 200px;
        height: 200px;
        margin: 5px;
    }

    /* Create course section and it's elements */

    .create-banner {
        img {
            width: 550px;
        }
        p {
            max-width: 350px;
        }
    }

}

/* Devtools: 768x1024 */
@media screen and (max-width: 768px) {

    /* Remove horizontal scroll */
    
    html, body {
        overflow-x: hidden;
    }
    
    /* Fonts */

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }
    
    /* Top banner section and it's elements */

    .banner {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20% 0 20% 0;
        gap: 0;
    }

    .banner-text-container {
        order: 2;
        max-width: 100%;
        p {
            max-width: 600px;
            margin: 0 auto;
        }
    }

    .banner-image-container {
        order: 1;
    }

    .banner-image {
        max-width: 100%;
        height: auto;
        max-height: 500px;
    }

    .search-bar {
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    .search-input {
        width: 600px;
        height: 50px;
        font-size: 1.5rem;
    }

    .search-icon {
        width: 40px;
        padding: 6px;
        right: 5px;
        top: 24px;
    }

    /* Courses categories section and it's elements */

    .categories-container {
        flex-direction: column;
        padding: 10% 0 10% 0;
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        padding-top: 5%;
    }

    .category {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        height: 80px;
        font-size: 1.5rem;
    }

    .category-bottom {
        display: none;
    }

    .more-categories {
        margin-top: 5%;
        font-size: 1.5rem;
    }

    /* Top courses section and it's elements */

    .header {
        margin-bottom: 5;
        h2 {
            font-size: 2.5rem;
        }
        button {
            display: none;
        }
    }

    .carousel {
        height: auto;
    }

    .group {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        width: 100%;
        max-width: 300px;
        height: 450px;
        h2 {
            font-size: 1.8rem;
        }
        h3 {
            font-size: 1.3rem;
        }
    }

    .rating {
        font-size: 1rem
    }

    .last-card {
        display: none;
    }

    .group {
        animation: none;
        flex-direction: column;
        gap: 20px;
    }

    /* Best sellers section and it's elements */

    .best-sellers-container {
        padding: 10% 0 15% 0;
    }

    .header {
        margin-bottom: 5%;
    }

    .best-sellers-top, .best-sellers-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .best-seller-card {
        width: 300px;
        height: 350px !important;
        max-width: 400px;
        height: 200px;
        margin: 10px;
    }

    /* Create course section and it's elements*/

    .create-container {
        padding: 10% 0 10% 0;
        h1 {
            margin-bottom: 2%;
        }
    }

    .create-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            width: 600px;
        }
        p {
            max-width: 600px;
        }
    }

    .banner-text {
        padding-top: 5%;
    }

    /* About button */

    .about-button {
        width: 270px;
        height: 80px;
        font-size: 2rem;
    }

}

/* Devtools: 360x640 */
@media screen and (max-width: 480px) {
    /* Remove horizontal scroll */

    html, body {
        overflow-x: hidden;
    }

    /* Fonts */

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* Top banner section and it's elements */

    .banner {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10% 0 10% 0;
        gap: 0;
    }

    .banner-text-container {
        order: 2;
        max-width: 100%;
        p {
            max-width: 85%;
            margin: 0 auto;
        }
    }

    .banner-image-container {
        order: 1;
    }

    .banner-image {
        max-width: 90%;
        height: auto;
        max-height: 300px;
    }

    .search-bar {
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    .search-input {
        width: 300px;
        height: 40px;
        font-size: 1rem;
    }

    .search-icon {
        width: 30px !important;
        padding: 6px;
        right: 2px;
    }

    /* Courses categories section and it's elements */

    .categories-container {
        flex-direction: column;
        padding: 10% 0 10% 0;
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        padding-top: 5%;
    }

    .category {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        height: 55px;
        font-size: 1rem;
    }

    .category-bottom {
        display: none;
    }

    .more-categories {
        margin-top: 5%;
        font-size: 1rem;
    }

    /* Top courses section and it's elements */
    
    .top-courses {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header {
        margin-bottom: 5;
        h2 {
            font-size: 1.5rem;
        }
        button {
            display: none;
        }
    }

    .carousel {
        width: 80%;
        height: auto;
    }

    .card {
        width: 100%;
        max-width: 300px;
        height: 400px;
        h2 {
            font-size: 1.2rem;
        }
        h3 {
            font-size: 0.9rem;
        }
    }

    .last-card {
        display: none;
    }

    .group {
        display: flex;
        flex-direction: column;
        animation: none;
        gap: 20px;
    }

    /* Best sellers section and it's elements */

    .best-sellers-container {
        padding: 10% 0 15% 0;
    }

    .header {
        margin-bottom: 5%;
    }

    .best-sellers-top, .best-sellers-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .best-seller-card {
        width: 160px;
        height: 160px !important;
        max-width: 280px;
        height: 200px;
        margin: 0px;
    }

    /* Create course section and it's elements*/

    .create-container {
        padding: 10% 0 10% 0;
        h1 {
            margin-bottom: 2%;
        }
    }

    .create-banner {
        flex-direction: column;
        img {
            width: 340px;
        }
    }

    .banner-text {
        p {
            max-width: 350px;
            font-size: 1rem;
        }
    }

    /* About button */
    .about-button {
        width: 200px;
        height: 60px;
        font-size: 1.5rem;
    }

}