/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #016FB9;
    background-color: var(--color2);
    font-family: "Inter", sans-serif;
}

/* Headers */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

p, h1, h2 {
    color: var(--color3);
}

hr {
    width: 100%;
    color: var(--color3);
    opacity: 10%;
    margin: 5% 0 5% 0;
}

/* Form decorations */

.bottom-decoration-container {
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: var(--color4);
    border-radius: 0 100% 0 0;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.bottom-decoration-circle {
    width: 450px;
    height: 450px;
    position: absolute;
    background-color: var(--color4);
    border-radius: 0 100% 0 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    opacity: 60%;
}

.bottom-decoration-shadow {
    width: 550px;
    height: 550px;
    position: absolute;
    background-color: var(--color4);
    border-radius: 0 100% 0 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    opacity: 40%;
}

.bottom-decoration-sub-shadow {
    width: 650px;
    height: 650px;
    position: absolute;
    background-color: var(--color4);
    border-radius: 0 100% 0 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    opacity: 10%;
}

.top-decoration-container {
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: var(--color4);
    border-radius: 0 0 0 100%;
    z-index: -1;
    top: 0;
    right: 0;
}

.top-decoration-circle {
    width: 450px;
    height: 450px;
    position: absolute;
    background-color: var(--color4);
    border-radius: 0 0 0 100%;
    z-index: -1;
    top: 0;
    right: 0;
    opacity: 60%;
}

.top-decoration-shadow {
    width: 550px;
    height: 550px;
    position: absolute;
    background-color: var(--color4);
    border-radius: 0 0 0 100%;
    z-index: -1;
    top: 0;
    right: 0;
    opacity: 40%;
}

/* Sign-in and Log-in container and it's elements */

#form-login {
    margin-top: 10%;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    gap: 5%;
}

.side-text {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
}

.text-description {
    align-items: center;
    justify-content: start;
    text-align: start;
    p {
        max-width: 850px;
    }
}

.text-header {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin-bottom: 2%;
    img {
        width: 64px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3%;
}

.form-header {
    padding-bottom: 10%;
}

.form-input {
    width: 300px;
    height: 50px;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 3% 0 3% 0;
    padding: 10px 40px 10px 10px;
    text-indent: 8px;
}

.form-input:hover {
    border-color: var(--color3);
}

.telefone-container {
    position: relative;
}

.prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.65);
    top: 28%;
    left: 8%;
    gap: 10%;
    img {
        width: 30px;
    }
}

#telefone-input {
    text-indent: 80px;
}

.password-container {
    width: 100%;
    max-width: 300px;
    position: relative;
}

.show-password {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.show-password:hover {
    opacity: 1;
}

.form-description {
    max-width: 300px;
    font-size: 1rem;
    a {
        text-decoration: none;
    }
}

.forget-password {
    color: var(--color4);
    font-size: 1rem;
    text-align: end;
    a {
        text-decoration: none;
    }
}

.confirm-button {
    width: 300px;
    height: 60px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15%;
}

.form-bottom {
    max-width: 300px;
    font-size: 1rem;
    padding-top: 5%;
    a {
        text-decoration: none;
    }
}

/* Media queries */

/* Devtools: 1366x768 */
@media screen and (max-width: 1366px) {
        
    /* Remove horizontal scroll */

    html, body {
        overflow-x: hidden;
    }

    /* Fonts */

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    /* Background decorations */

    .bottom-decoration-container {
        width: 200px;
        height: 200px;
    }

    .bottom-decoration-circle {
        width: 300px;
        height: 300px;
    }

    .bottom-decoration-shadow {
        width: 400px;
        height: 400px;
    }

    .bottom-decoration-sub-shadow {
        width: 500px;
        height: 500px;
    }   
    
    .top-decoration-container {
        width: 100px;
        height: 200px;
    }

    .top-decoration-circle {
        width: 300px;
        height: 300px;
    }

    .top-decoration-shadow {
        width: 400px;
        height: 400px;
    }

    /* Centralize form login */

    #form-login {
        margin-top: 15%;
    }

    /* Form */

    .form-container {
        gap: 10%;
        padding-top: 2%;
    }

    .form {
        padding: 3%;
    }

    .text-description {
        max-width: 600px;
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
    }

    .text-header {
        img {
            width: 50px;
        }
    }

    .form-header {
        padding: 2%;
    }

    .confirm-button {
        margin-top: 5%;
    }

}

/* Devtools: 1024x768 */
@media screen and (max-width: 1024px) {
    
    /* Remove horizontal scroll */

    html, body {
        overflow-x: hidden;
    }

    /* Fonts */

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    /* Background decorations */

    .bottom-decoration-container {
        width: 200px;
        height: 200px;
    }

    .bottom-decoration-circle {
        width: 300px;
        height: 300px;
    }

    .bottom-decoration-shadow {
        width: 400px;
        height: 400px;
    }

    .bottom-decoration-sub-shadow {
        width: 500px;
        height: 500px;
    }   
    
    .top-decoration-container {
        width: 100px;
        height: 200px;
    }

    .top-decoration-circle {
        width: 300px;
        height: 300px;
    }

    .top-decoration-shadow {
        width: 400px;
        height: 400px;
    }

    /* Centralize form login */

    #form-login {
        margin-top: 15%;
    }

    /* Form */

    .form-container {
        gap: 15%;
        padding-top: 3%;
    }

    .form {
        padding: 3%;
    }

    .text-description {
        max-width: 400px;
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
    }

    .text-header {
        img {
            width: 50px;
        }
    }

    .form-header {
        padding: 2%;
    }

    .confirm-button {
        margin-top: 5%;
    }

}

/* Devtools: 768x1024 */
@media screen and (max-width: 768px) {
        
    /* Remove horizontal scroll */

    html, body {
        overflow-x: hidden;
    }

    /* Fonts */

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    /* Background decorations */

    .bottom-decoration-container {
        width: 200px;
        height: 200px;
    }

    .bottom-decoration-circle {
        width: 250px;
        height: 250px;
    }

    .bottom-decoration-shadow {
        width: 300px;
        height: 300px;
    }

    .bottom-decoration-sub-shadow {
        width: 350px;
        height: 350px;
    }   
    
    .top-decoration-container {
        width: 200px;
        height: 200px;
    }

    .top-decoration-circle {
        width: 250px;
        height: 250px;
    }

    .top-decoration-shadow {
        width: 300px;
        height: 300px;
    }

    /* Centralize form login */

    #form-login {
        margin-top: 30%;
    }

    /* Form */

    .form-container {
        flex-direction: column;
        gap: 5px;
    }

    .text-description, .text-header {
        display: none;
    }

    .text-header {
        img {
            width: 40px;
        }
    }

    .form {
        padding: 5%;
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
    }

    .form-header {
        padding-bottom: 2%;
    }

    .form-input,
    .confirm-button {
        width: 100%;
        max-width: 450px;
        height: 60px;
        font-size: 1.5rem;
        border-radius: 8px;
    }

    .confirm-button {
        height: 70px;
        font-size: 2rem;
        margin-top: 10%;
    }

    .form-description,
    .form-bottom,
    .forget-password {
        max-width: 450px;
        font-size: 1.5rem;
    }
  
    .prefix {
        left: 5%;
        top: 30%;
        gap: 5px;
        font-size: 1.5rem;
        img {
            width: 32px;
        }
    }

    #telefone-input {
        text-indent: 100px;
    } 

    .password-container {
        input {
            width: 425px;
        }
    }

    .show-password {
        width: 32px;
        height: 32px;
        left: 125%;
    }
    
}

/* Devtools: 360x640 */
@media screen and (max-width: 480px) {
    
    /* Remove horizontal scroll */

    html, body {
        overflow-x: hidden;
    }

    body {
        background-color: var(--color1);
    }

    /* Fonts */

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* Background decorations */

    .bottom-decoration-container, .bottom-decoration-circle, .bottom-decoration-shadow, .bottom-decoration-sub-shadow {
        display: none;
    }

    .top-decoration-container, .top-decoration-circle, .top-decoration-shadow, .bottom-decoration-circle {
        display: none;
    }

    /* Centralize form login */

    #form-login {
        margin-top: 40%;
    }

    /* Form */

    .form-container {
        flex-direction: column;
        gap: 0;
        padding: 0;
        height: 100%;
    }

    .text-description, .text-header {
        display: none;
    }

    .text-header {
        img {
            width: 40px;
        }
    }

    .form {
        padding: 5%;
        width: 100%;
        max-width: 320px;
        border: none;
    }

    .form-header {
        padding-bottom: 2%;
    }

    .form-input,
    .confirm-button {
        width: 100%;
        max-width: 280px;
        height: 40px;
        font-size: 0.9rem;
        border-radius: 8px;
    }

    .confirm-button {
        height: 50px;
        font-size: 1.2rem;
        margin-top: 10%;
    }

    .form-description,
    .form-bottom,
    .forget-password {
        font-size: 0.8rem;
    }
  
    .prefix {
        left: 8%;
        top: 33%;
        gap: 5px;
        font-size: 0.9rem;
        img {
            width: 20px;
        }
    }

    #telefone-input {
        text-indent: 70px;
    }

    .show-password {
        width: 20px;
        height: 20px;
        right: 5%;
    }
    
}
