/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #0353A4;
    background-color: var(--color2);
    font-family: "Inter", sans-serif;
}

/* Headers */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

p, h1, h2 {
    color: var(--color3);
}

hr {
    width: 100%;
    color: var(--color3);
    opacity: 10%;
    margin: 5% 0 5% 0;
}

/* Sign-in container and it's elements */

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    gap: 10%;
}

.image-form {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-text {
    align-items: start;
    justify-content: start;
    text-align: start;
    padding: 20px;
    border-radius: 15px;
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
        max-width: 650px;
    }
}

.image-header {
    display: flex;
    align-items: center;
    justify-content: start;
    h1 {
        font-size: 1.5rem;
    }
    img {
        width: 32px;
        margin-left: 3%;
    }
}

.side-image {
    img {
        width: 650px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3%;
}


.form-header {
    padding-bottom: 10%;
}

.form-input {
    width: 300px;
    height: 50px;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 3% 0 3% 0;
    padding: 10px 40px 10px 10px;
    text-indent: 8px;
}

.form-input:hover {
    border-color: var(--color3);
}

.telefone-container {
    position: relative;
}

.prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.65);
    top: 28%;
    left: 8%;
    gap: 10%;
    img {
        width: 30px;
    }
}

#telefone-input {
    text-indent: 80px;
}

.password-container {
    width: 100%;
    max-width: 300px;
    position: relative;
}

.show-password {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.show-password:hover {
    opacity: 1;
}

.form-description {
    max-width: 300px;
    font-size: 1rem;
    a {
        text-decoration: none;
    }
}

.forget-password {
    color: var(--color4);
    font-size: 1rem;
    text-align: end;
    a {
        text-decoration: none;
    }
}

.confirm-button {
    width: 300px;
    height: 60px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15%;
}

.form-bottom {
    max-width: 300px;
    font-size: 1rem;
    padding-top: 5%;
    a {
        text-decoration: none;
    }
}