/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #0353A4;
    background-color: var(--color1);
    font-family: "Inter", sans-serif;
}

/* Headers */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

p, h1, h2, hr {
    color: var(--color3);
}

/* Top navigator and it's elements */

#logo {
    width: 65px;
}

.site-name {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color3);
}

.nav-bar {
    background-color: var(--color1);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 12px 20px;
}

.nav-image {
    width: 30px;
}

.nav-label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color3);
}

.nav-account {
    width: 170px;
    height: 35px;
    text-align: center;
    background-color: var(--color4);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    h1 {
        text-align: center;
        color: var(--color1);
        padding-top: 5px;
    }
}

.nav-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--color4);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.nav-button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu {
    display: flex;
    margin-left: 25%;
    li {
        padding-left: 30px;
    }
    a {
        font-size: 1.5rem;
    }
    li, a {
        display: inline-block;
        color: var(--color3);
        text-decoration: none;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
    }
}

.mobile-login {
    display: none;
}

.open-menu, .close-menu {
    display: none;
}

#check {
    display: none;
}

/* Top banner and it's elements */

#top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 5%;
}

.banner-text-container {
    align-items: start;
    justify-content: start;
    max-width: 50%;
    h1 {
        font-weight: 700;
        padding: 1% 0% 1% 0%;
    }
    p {
        font-weight: 200;
    }
}

.banner-image-container {
    img {
        width: 800px;
        height: 800px;
    }
}

.create-account-button {
    width: 220px;
    height: 50px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

/* Courses section and it's elements */

#courses {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
}

.header {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    padding: 5%;
    h1 {
        display: block;
    }
}

.courses-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 6%;
}

.card {
    width: 350px;
    height: 400px;
    background-color: var(--color3);
    color: var(--color1);
    text-align: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: var(--color3);
    opacity: 80%;
    transition: ease-in-out .3s all;
}

/* Feedback section and it's elements */

.ebooks-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
}

.user-comment {
    display: flex;
    align-items: flex-start;
    margin: 0 5% 0 8%;
    padding-bottom: 5%;
}

.vertical-bar {
    width: 4px;
    height: 50px;
    background-color: var(--color3);
    margin-right: 20px;
}

.comment-content {
    flex: 1;
}

.user-name {
    margin: 0;
    font-size: 1.2em;
    color: var(--color4);
}

.comment {
    margin: 5px 0;
    font-size: 1em;
    max-width: 90%;
    color: var(--color3);
    opacity: 70%;
    line-height: 1.5;
}

/* Circle progress bar */

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding-bottom: 5%;
}

.progress-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progress-label {
    text-align: center;
    margin-top: 15%;
    color: var(--color4);
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}
  
@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

[role="progressbar"] {
    --percentage: var(--value);
    --size: 250px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

[role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--color4) calc(var(--percentage) * 1%), var(--color2) 0);
    mask: radial-gradient(var(--color1) 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, var(--color3) 0);
    -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--color4);
}

/* E-books section and it's elements */

#ebooks {
    background-color: var(--color3);
}

.ebooks-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 10% 0;
    h1 {
        color: var(--color1);
    }
}

.ebooks-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.ebook {
    margin-top: 5%;
    background-color: var(--color2);
    border-radius: 20px;
    img {
        width: 500px;
        height: 400px;
        border-radius: 20px;
        border: var(--color2) 5px solid;
        box-shadow: var(--color2) 10px 10px;
    }
}

/* Marker */

.blue {
    color: var(--color4);
    font-weight: bold;
    font-style: italic;
}

