/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #016FB9;
    background-color: var(--color1);
    font-family: "Inter", sans-serif;
}

/* Fonts */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

p, h1, h2 {
    color: var(--color3);
}

hr {
    color: var(--color1);
    opacity: 20%;
}

/* Top banner and it's elements */

.top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 5%;
}

.banner-text-container {
    align-items: start;
    justify-content: start;
    max-width: 50%;
    h1 {
        font-weight: 700;
        padding: 1% 0% 1% 0%;
    }
    p {
        max-width: 900px;
    }
}

.banner-image-container {
    img {
        width: 800px;
        height: 800px;
    }
}

.create-account-button {
    width: 250px;
    height: 70px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

/* Multiplataform section and it'ss elements */

#multiplataform {
    background-color: var(--color2);
}

.multiplataform-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
}

.multiplataform-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    gap: 10%;
    img {
        width: 600px;
    }
}

/* Courses section and it's elements */

#courses {
    display: flex;
    flex-direction: column;
}

.header {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    padding: 5%;
}

.courses-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 6%;
}

.card {
    width: 350px;
    height: 400px;
    background: linear-gradient(to top right,#070707,#0F1414,#1A2526,#2A3A44,#023E7D);
    color: var(--color1);
    text-align: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: var(--color3);
    opacity: 80%;
    transition: ease-in-out .3s;
    transform: scale(1.1);
}

/* Feedback section and it's elements */

#feedback {
    background-color: var(--color2);
}

.ebooks-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
}

.user-comment {
    display: flex;
    align-items: flex-start;
    margin: 0 5% 0 8%;
    padding-bottom: 5%;
}

.vertical-bar {
    width: 4px;
    height: 50px;
    background-color: var(--color3);
    margin-right: 20px;
}

.comment-content {
    flex: 1;
}

.user-name {
    margin: 0;
    font-size: 1.5em;
    color: var(--color4);
}

.comment {
    margin: 5px 0;
    font-size: 1.2em;
    max-width: 400px;
    color: var(--color3);
    opacity: 70%;
    line-height: 1.5;
}

.rating {
    font-size: 1.2rem;
}

/* Circle progress bar */

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding-bottom: 5%;
}

.progress-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progress-label {
    text-align: center;
    margin-top: 15%;
    color: var(--color4);
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}
  
@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

[role="progressbar"] {
    --percentage: var(--value);
    --size: 250px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

[role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--color4) calc(var(--percentage) * 1%), var(--color1) 0);
    mask: radial-gradient(var(--color1) 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, var(--color3) 0);
    -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--color4);
}

/* E-books section and it's elements */

.ebook-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
    h1 {
        color: var(--color1);
        margin-bottom: 5%;
    }
}

.card-wrapper {
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right,#070707,#0F1414,#1A2526,#2A3A44,#023E7D);
    width: 70%;
    border-radius: 20px;
    padding: 5% 0 5% 0;
}

.ebook-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 5%;
    img {
        width: 450px;
        height: 500px;
    }
    p {
        max-width: 650px;
        color: var(--color1);
    }
}

.about-button {
    width: 250px;
    height: 70px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Payment container and it's elements */

#payments {
    background: linear-gradient(to top right,#070707,#0F1414,#1A2526,#2A3A44,#023E7D);
}

.payment-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
    h1 {
        color: var(--color1);
    }
}

.payment {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding-top: 5%;
    gap: 10%;
    h1 {
        max-width: 700px;
        color: var(--color1);
    }
    p {
        max-width: 550px;
        padding-top: 2%;
        color: var(--color1);
    }
    img {
        width: 500px;
    }
}

/* Work with us section and it's elements */

.work-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
}

.worker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    gap: 5%;
    p {
        max-width: 500px;
        padding-top: 2%;
    }
    img {
        width: 700px;
    }
}

/* Marker */

.blue {
    color: var(--color4);
    font-weight: bold;
    font-style: italic;
}

/* Media queries */

/* Devtools: 1366x768 */
@media screen and (max-width: 1366px) {
        
    /* Fonts */

    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }

    /* Top banner and it's elements */

    .top-banner {
        gap: 0;
    }
    
    .banner-image-container {
        img {
            width: 700px;
            height: 700px;
        }
    }

    .create-account-button {
        width: 310px;
        height: 80px;
        font-size: 1.5rem;
    }

    /* Multiplataform section and it's elements */

    .multiplataform-container {
        padding: 5% 0 5% 0;
    }

    .multiplataform-banner {
        img {
            width: 550px;
        }
    }

    /* E-books and it's elements */

    .header {
        margin-top: 0;
    }

    .courses-cards {
        gap: 30px;
    }

    .card {
        width: 350px;
        height: 350px;
    }

    /* Feedback section and it's elements */

    .vertical-bar {
        margin-right: 10px;
    }

    .user-name {
        font-size: 1.5rem;
    }

    .comment-content {
        max-width: 70%;
        margin: 0;
    }

    .comment {
        font-size: 1rem;
    }

    .user-comment {
        gap: 5px;
        margin: 0 3% 0 5%;
    }

    /* Circle progress container */

    [role="progressbar"] {
        --size: 250px;
    }

    .progress-label {
        font-size: 2rem;
    }

    /* E-books section and it's elements */

    .card-wrapper {
        width: 95%;
    }

    .ebook-wrapper {
        img {
            width: 450px;
            height: 500px;
        }
        p {
            font-size: 1.5rem;
            max-width: 600px;
        }
    }

    /* Payment section and it's elements */

    .payment {
        gap: 15%;
        img {
            width: 500px;
        }
        p {
            max-width: 400px;
        }
    }

    /* Work with us section and it's elements */

    .worker {
        img {
            width: 500px;
        }
    }

}

/* Devtools: 1024x768 */
@media screen and (max-width: 1024px) {
    
    /* Fonts */

    h1 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.2rem;
    }

    /* Top banner and it's elements */

    .top-banner {
        gap: 0;
    }
    
    .banner-image-container {
        img {
            width: 550px;
            height: 550px;
        }
    }

    .create-account-button {
        width: 250px;
        height: 60px;
        font-size: 1.2rem;
    }

    /* Multiplataform section and it's elements */

    .multiplataform-container {
        padding: 5% 0 5% 0;
    }

    .multiplataform-banner {
        img {
            width: 450px;
        }
    }

    /* E-books and it's elements */

    .header {
        margin-top: 0;
    }

    .courses-cards {
        gap: 25px;
    }

    .card {
        width: 300px;
        height: 350px;
    }

    /* Feedback section and it's elements */

    .vertical-bar {
        margin-right: 10px;
    }

    .user-name {
        font-size: 1.2rem;
    }

    .user-comment {
        gap: 5px;
        margin: 0 3% 0 5%;
        font-size: 1rem;
    }

    .rating {
        font-size: 1rem;
    }

    .comment-content {
        margin: 0;
    }

    /* Circle progress container */

    [role="progressbar"] {
        --size: 200px;
    }

    .progress-label {
        font-size: 1.5rem;
    }

    /* E-books section and it's elements */

    .card-wrapper {
        width: 95%;
    }

    .ebook-wrapper {
        img {
            width: 350px;
            height: 400px;
        }
        p {
            font-size: 1.2rem;
            max-width: 480px;
        }
    }

    /* Payment section and it's elements */

    .payment {
        gap: 10%;
        img {
            width: 400px;
        }
        p {
            max-width: 400px;
        }
    }

    /* Work with us section and it's elements */

    .worker {
        img {
            width: 450px;
        }
    }

}

/* Devtools: 768x1024 */
@media screen and (max-width: 768px) {

    /* Remove horizontal scroll */
    
    html, body {
        overflow-x: hidden;
    }
    
    /* Fonts */

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    /* Top banner and it's elements */

    .top-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .banner-text-container {
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        margin: 0 0 10% 0;
        order: 2;
        h1 {
            font-size: 2.2rem;
        }
        p {
            margin-top: 2%;
            max-width: 95%;
            padding-left: 5%;
        }
    }

    .banner-image-container {
        margin-top: 15%;
        img {
            width: 700px;
            height: 700px;
            order: 1;
        }
    }

    .create-account-button {
        width: 320px;
        height: 90px;
        font-size: 1.5rem; 
    }

    /* Multiplataform section and it's elements */

    .multiplataform-container {
        padding: 10% 0 10% 0;
    }

    .multiplataform-banner {
        display: flex;
        flex-direction: column;
        h1 {
            order: 2;
        }
        img {
            margin: 5% 0 5% 0;
            width: 500px;
            order: 1;
        }
    }

    /* Courses section and it's elements */

    .ebooks-container {
        display: flex;
        flex-direction: column;
        padding: 5% 0;
    }

    .courses-cards {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 10%;
    }

    .card {
        width: 500px;
        height: 550px;
    }

    /* Feedback section and it's elements */

    #feedback {
        padding: 5% 0;
    }

    .vertical-bar {
        display: none;
    }

    .user-comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        gap: 25px;
    }

    .user-name {
        font-size: 2rem;
    }

    .comment {
        font-size: 1.5rem;
        max-width: 550px;
    }

    .rating {
        font-size: 1.5rem;
    }

    .comment-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        h1, p {
            margin: 0;
            padding: 0;
        }
    }

    /* Circle progress container */

    .progress-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10%;
    }

    [role="progressbar"] {
        --size: 400px;
    }

    .progress-label {
        font-size: 3rem;
        margin: 10% 0;
    }

    /* E-books section and it's elements */

    .ebook-container {
        padding: 15% 0 15% 0;
        h1 {
            margin: 5% 0;
        }
    }

    .card-wrapper {
        width: 95%;
    }

    .ebook-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            width: 450px;
            height: 500px;
            margin: 5% 0 5% 0;
        }
        p {
            font-size: 1.5rem;
            max-width: 650px;
        }
    }

    /* Payment section and it's elements */

    .payment-container {
        padding: 10% 0 10% 0;
    }

    .payment {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            order: 1;
            width: 500px;
            margin: 5% 0 5% 0;
        }
        h1 {
            order: 2;
        }
        p {
            max-width: 600px;
        }
    }

    /* Work with us section and it's elements */

    .work-container {
        padding: 10% 0 10% 0;
    }

    .worker {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            width: 500px;
            order: 1;
            margin: 10% 0 10% 0;
        }
        h1 {
            order: 2;
        }
        p {
            max-width: 600px;
        }
    }

    /* About button */

    .about-button {
        width: 300px;
        height: 80px;
        font-size: 1.8rem; 
    }
    
}

/* Devtools: 360x640 */
@media screen and (max-width: 480px) {

    /* Remove horizontal scroll */
    
    html, body {
        overflow-x: hidden;
    }
    
    /* Fonts */

    h1 {
        font-size: 1.4rem !important;
    }
    
    p {
        font-size: 0.9rem;
    }

    /* Top banner and it's elements */

    .top-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .banner-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        margin: 0 0 10% 0;
        order: 2;
        p {
            max-width: 350px;
            margin-top: 10px;
            padding: 0;
        }
    }

    .banner-image-container {
        margin-top: 15%;
        img {
            width: 400px;
            height: 400px;
            order: 1;
        }
    }

    .create-account-button {
        width: 210px;
        height: 60px;
       font-size: 1rem; 
    }

    /* Multiplataform section and it's elements */

    .multiplataform-container {
        padding: 10% 0 10% 0;
    }

    .multiplataform-banner {
        display: flex;
        flex-direction: column;
        h1 {
            order: 2;
        }
        img {
            margin: 5% 0 5% 0;
            width: 250px;
            order: 1;
        }
    }

    /* Courses section and it's elements */

    .ebooks-container {
        display: flex;
        flex-direction: column;
        padding: 5% 0;
    }

    .courses-cards {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 10%;
    }

    .card {
        width: 250px;
        height: 300px;
    }

    /* Feedback section and it's elements */

    #feedback {
        padding: 5% 0;
    }

    .ebooks-header {
        margin-bottom: 5%;
    }

    .vertical-bar {
        display: none;
    }

    .user-comment {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .user-name {
        font-size: 1rem !important;
    }

    .comment {
        font-size: 0.8rem !important;
    }

    .rating {
        font-size: 1rem;
    }

    .comment-content {
        text-align: center;
        h1, p {
            margin: 0;
            padding: 0;
            max-width: 300px;
        }
    }

    /* Circle progress container */

    .progress-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 10%;
    }

    [role="progressbar"] {
        --size: 200px;
    }

    .progress-label {
        font-size: 1.5rem;
        margin: 10% 0;
    }

    /* E-books section and it's elements */

    .ebook-container {
        padding: 15% 0 15% 0;
        h1 {
            font-size: 1.3rem !important;
            margin: 5% 0;
        }
    }

    .card-wrapper {
        width: 95%;
    }

    .ebook-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5% 0 5% 0;
        img {
            width: 250px;
            height: 300px;
            margin: 5% 0 5% 0;
        }
        p {
            font-size: 0.9rem;
            max-width: 300px;
        }
    }

    /* Payment container and it's elements */

    .payment-container {
        padding: 10% 0 10% 0;
    }

    .payment {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            order: 1;
            width: 250px;
            margin: 5% 0 5% 0;
        }
        h1 {
            order: 2;
        }
    }

    /* Work with us section and it's elements */

    .work-container {
        padding: 10% 0 10% 0;
    }

    .worker {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            width: 300px;
            order: 1;
            margin: 10% 0 10% 0;
        }
        h1 {
            order: 2;
        }
        p {
            max-width: 300px;
        }
    }

    /* About button */

    .about-button {
        width: 200px;
        height: 60px;
        font-size: 1.2rem; 
    }
    
}
