/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a
/* Smooth scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #0353A4;
    background-color: var(--color1);
    font-family: "Inter", sans-serif;
}

/* Headers */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

p, h1, h2 {
    color: var(--color3);
}

hr {
    color: var(--color1);
    opacity: 20%;
}

/* Top navigator and it's elements */

.logo {
    width: 65px;
}

.site-name {
    font-size: 2.5rem;
    color: var(--color3);
}

.nav-bar {
    background-color: var(--color1);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 12px 20px;
}

.nav-label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color3);
}

.nav-image-button {
    top: 5px;
}

.nav-image {
    width: 32px;
}

.nav-account {
    width: 170px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    bottom: 5px;
    h1 {
        color: var(--color1);
        padding-top: 5%;
    }
}

.nav-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--color4);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.nav-button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu {
    display: flex;
    margin-left: 28%;
    li {
        padding-left: 30px;
    }
    a {
        font-size: 1.5rem;
    }
    li, a {
        display: inline-block;
        color: var(--color3);
        text-decoration: none;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
    }
}

.open-menu, .close-menu {
    display: none;
}

#check {
    display: none;
}

/* Products section and it's elements */

.top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 0 0 5%;
    gap: 10%;
}

.banner-text-container {
    align-items: start;
    justify-content: start;
    max-width: 50%;
    h1 {
        font-weight: 700;
        padding: 1% 0% 1% 0%;
    }
    p {
        max-width: 900px;
        padding-bottom: 10%;
    }
}

.banner-image-container {
    img {
        width: 600px;
        height: 600px;
    }
}

/* Featured products section and it's elements */

#featured-products {
    background-color: var(--color2);
}

.featured-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.featured-top, .featured-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 5px;
}

.featured-card {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    background-color: gray;
    cursor: pointer;
}

.featured-card:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2% 0 2% 0%;
    gap: 38%;
    h2 {
        font-size: 2.5rem;
    }
}

.more-button {
    width: 250px;
    height: 60px;
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--color4);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.more-button:hover {
    background-color: var(--color4);
    color: var(--color1);
}

/* Shipping section and it's elements */

.shipping-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
    h1 {
        padding-bottom: 5%;
    }
}

.shipping-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 5%;
}


/* Sell product section and it's elements */

#publish-product {
    background-color: var(--color2);
}

.sell-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5% 0 5% 0;
}

.sell-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding-top: 5%;
    gap: 10%;
}

.sell-banner-text {
    p {
        padding-bottom: 10%;
    }
}

.sell-banner-image {
    width: 600px;
}

/* Footer section and it's elements */

#footer {
    background: linear-gradient(to top right, #070707, #0F1414, #1A2526, #2A3A44, #023E7D);
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.website-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
}

.website {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.website {
    h1 {
        color: var(--color1);
    }
}

.social-media {
    p {
        color: var(--color1);
        padding: 5% 0 10% 0;
    }
}

.social-icon {
    width: 40px;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.footer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
    justify-content: center;
    p {
        max-width: 80px;
        font-size: 1.2rem;
        color: var(--color1);
        margin: 10px 0;
        cursor: pointer;
        white-space: nowrap;
    }
}

.credits {
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 2% 0 8% 0;
    margin-left: 35%;
    p {
        opacity: 50%;
        font-size: 1rem;
        color: var(--color1);
        padding: 2px 0 2px 0;
    }
    a {
        color: var(--color1);
    }
}

/* Marker and about button */

.blue {
    color: var(--color4);
    font-weight: bold;
    font-style: italic;
}

.about-button {
    width: 250px;
    height: 70px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}