/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #016FB9;
    background-color: var(--color1);
    font-family: "Inter", sans-serif;
}

/* Headers */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

p, h1, h2 {
    color: var(--color3);
}

hr {
    color: var(--color1);
    opacity: 20%;
}

/* Products section and it's elements */

.top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 0 0 5%;
    gap: 15%;
}

.banner-text-container {
    align-items: start;
    justify-content: start;
    max-width: 50%;
    h1 {
        font-weight: 700;
        padding: 1% 0% 1% 0%;
    }
    p {
        max-width: 900px;
        padding-bottom: 10%;
    }
}

.banner-image-container {
    img {
        width: 600px;
        height: 600px;
    }
}

/* Featured products section and it's elements */

#featured-products {
    background-color: var(--color2);
}

.featured-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.featured-top, .featured-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 5px;
}

.featured-card {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    background-color: gray;
    cursor: pointer;
}

.featured-card:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2% 0 2% 0%;
    gap: 38%;
    h2 {
        font-size: 2.5rem;
    }
}

.more-button {
    width: 250px;
    height: 60px;
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--color4);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.more-button:hover {
    background-color: var(--color4);
    color: var(--color1);
}

/* Shipping section and it's elements */

.shipping-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
    h1 {
        padding-bottom: 5%;
    }
}

.shipping-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 5%;
}


/* Sell product section and it's elements */

#publish-product {
    background-color: var(--color2);
}

.sell-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0 5% 0;
}

.sell-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding-top: 5%;
    gap: 10%;
}

.sell-banner-text {
    p {
        padding-bottom: 10%;
    }
}

.sell-banner-image {
    width: 600px;
}

/* Marker and about button */

.blue {
    color: var(--color4);
    font-weight: bold;
    font-style: italic;
}

.about-button {
    width: 250px;
    height: 70px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Media queries */

/* Devtools: 1366x768 */
@media screen and (max-width: 1366px) {
        
    /* Fonts */

    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }

    /* Products section and it's elements */

    .top-banner {
        margin: 10% 0 5% 0;
        gap: 5%;
    }

    .banner-text-container {
        max-width: 600px;
    }

    .banner-image-container {
        img {
            width: 600px;
            height: 600px;
        }
    }

    /* Featured products section and it's elements */

    .header {
        width: 95%;
        h2 {
            font-size: 2rem;
        }
    }

    .more-button {
        width: 250px;
        height: 50px;
        font-size: 1.5rem;
    }

    .featured-card {
        max-width: 270px;
        height: 270px;
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1rem;
        }
    
    }

    /* Shipping section and it's elements */

    .shipping-banner-image {
        img {
            width: 750px;
        }
    }

    /* Sell product section and it's elements */

    .sell-banner {
        gap: 5%;
    }

    .sell-banner-image {
        width: auto;
        img {
            width: 600px;
        }
    }

}

/* Devtools: 1024x768 */
@media screen and (max-width: 1024px) {
    
    /* Fonts */

    h1 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.2rem;
    }

    /* Products section and it's elements */

    .top-banner {
        margin: 10% 0 5% 0;
        gap: 5%;
    }

    .banner-text-container {
        max-width: 400px;
    }

    .banner-image-container {
        img {
            width: 400px;
            height: 400px;
        }
    }

    /* Featured products section and it's elements */

    .header {
        width: 85%;
        h2 {
            font-size: 1.7rem;
        }
    }

    .more-button {
        width: 200px;
        height: 50px;
        font-size: 1.2rem;
    }

    .featured-card {
        width: 200px;
        height: 200px;
        margin: 0px;
    }

    /* Shipping section and it's elements */

    .shipping-banner-image {
        img {
            width: 550px;
        }
    }

    /* Sell product section and it's elements */

    .sell-banner {
        gap: 5%;
    }

    .sell-banner-image {
        width: auto;
        img {
            width: 400px;
        }
    }

}

/* Devtools: 768x1024 */
@media screen and (max-width: 768px) {

    /* Remove horizontal scroll */
    
    html, body {
        overflow-x: hidden;
    }
    
    /* Fonts */

    h1 {
        font-size: 2.5rem;
    }
    
    p {
        font-size: 1.5rem;
    }

    /* Products section and it's elements */

    .top-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20% 0 10% 0;
        max-width: 100%;
        margin: 0;
    }

    .banner-text-container {
        max-width: 100%;
        order: 2;
    }

    .banner-image-container {
        order: 1;
        img {
            width: 600px;
            height: 600px;
        }
    }

    /* Featured products section and it's elements */

    .featured-container {
        padding: 10% 0 10% 0;
        height: auto;
    }

    .header {
        margin-bottom: 5;
        h2 {
            font-size: 2.5rem;
        }
        button {
            display: none;
        }
    }

    .featured-top, .featured-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .featured-card {
        width: 300px;
        height: 350px !important;
        max-width: 400px;
        height: 200px;
        margin: 5px;
    }

    /* Shipping section and it's elements */

    .shipping-container {
        padding: 10% 0 10% 0;
    }

    .shipping-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .shipping-banner-image {
        margin-bottom: 5%;
        img {
            width: 700px;
        }
    }

    /* Sell product section and it's elements */

    .sell-container {
        padding: 10% 0 10% 0;
    }

    .sell-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .sell-banner-image {
        order: 1;
        margin-bottom: 5%;
        img {
            width: 600px;
        }
    }

    .sell-banner-text {
        order: 2;

    }

    /* About button */

    .about-button {
        width: 300px;
        height: 80px;
        font-size: 1.8rem; 
    }

}

/* Devtools: 360x640 */
@media screen and (max-width: 360px) {

    /* Remove horizontal scroll */
    
    html, body {
        overflow-x: hidden;
    }
    
    /* Fonts */

    h1 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
    }

    /* Products section and it's elements */

    .top-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20% 0 10% 0;
        max-width: 100%;
        margin: 0;
    }

    .banner-text-container {
        max-width: 100%;
        order: 2;
    }

    .banner-image-container {
        order: 1;
        img {
            width: 300px;
            height: 300px;
        }
    }

    /* Featured products section and it's elements */

    .featured-container {
        padding: 10% 0 10% 0;
        height: auto;
    }

    .header {
        margin-bottom: 5;
        h2 {
            font-size: 1.5rem;
        }
        button {
            display: none;
        }
    }

    .featured-top, .featured-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .featured-card {
        width: 160px;
        height: 160px !important;
        max-width: 280px;
        height: 200px;
        margin: 0px;
    }

    /* Shipping section and it's elements */

    .shipping-container {
        padding: 10% 0 10% 0;
    }

    .shipping-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .shipping-banner-image {
        margin-bottom: 5%;
        img {
            width: 320px;
        }
    }

    /* Sell product section and it's elements */

    .sell-container {
        padding: 10% 0 10% 0;
    }

    .sell-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .sell-banner-image {
        order: 1;
        margin-bottom: 5%;
        img {
            width: 320px;
        }
    }

    .sell-banner-text {
        order: 2;

    }

    /* About button */

    .about-button {
        width: 200px;
        height: 60px;
        font-size: 1.2rem; 
    }

}
