<section id="main-section" class="ebooks-content">
    <div class="content-container">
        <div class="content">

            <div class="top-cards">
                {{#each topCards}}
                <div class="card-top-small">
                    <div class="desc">
                        <h1>{{title}}</h1>
                        <h2><strong>{{value}}</strong></h2>
                        <div class="card-btns">
                            {{#if condition}}
                                <button class="adm-btn add-btn">Adicionar</button>
                                <button class="adm-btn">Remover</button>
                            {{/if}}
                        </div>
                    </div>
                    <img src="{{imgSrc}}" alt="{{alt}}">
                </div>
                {{/each}}
            </div>

            <div class="bottom-cards">
                <div class="card-bottom-medium">
                    <div class="header">
                        <h1>Top 5 E-books - Semestre 2025</h1>
                        <button class="btn">Ver tudo</button>
                    </div>
                    <hr>
                    <canvas id="topCourses"></canvas>
                </div>

                <div class="card-bottom-medium">
                    <div class="header">
                        <h1>Compras e Pedidos - Semestre 2025</h1>
                        <button class="btn">Ver tudo</button>
                    </div>
                    <hr>
                    <canvas id="salesCourses"></canvas>
                </div>
            </div>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h1>Adicionar E-book</h1>
                    <form id="courses-form" class="form">
                        <input id="title" class="form-input" type="text" placeholder="Título">
                        <select id="category" class="form-input" name="category">
                            <option value="" disabled selected>Categoria</option>
                            <option value="mindset">Mindset</option>
                            <option value="finance">Finanças</option>
                            <option value="idioms">Idiomas</option>
                            <option value="tech">Tecnologia</option>
                        </select>
                        <input id="price" class="form-input" type="text" placeholder="Preço">
                        <input id="fileInput" class="form-input" type="file" accept="image/*" style="display: none;">
                        <label for="fileInput" class="custom-file-label">Selecionar Capa</label>
                        <span id="fileName" class="file-name">Nenhuma capa selecionada</span>
                        <button class="form-button" type="submit">Adicionar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
