/* Reset all css elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body, colors and font-family */

body {
    --color1: #FFFFFF;
    --color2: #F7F7FF;
    --color3: #070707;
    --color4: #0353A4;
    background-color: var(--color1);
    font-family: "Inter", sans-serif;
}

/* Headers */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

p, h1, h2 {
    color: var(--color3);
}

hr {
    color: var(--color1);
    opacity: 20%;
}

/* Top navigator and it's elements */


.logo-container {
    img {
        width: 65px;
    }
}

.site-name {
    font-size: 2.5rem;
    color: var(--color3);
}

.nav-bar {
    background-color: var(--color1);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 12px 20px;
}

.nav-label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color3);
}

.nav-image-button {
    top: 5px;
}

.nav-image {
    width: 32px;
}

.nav-account {
    width: 170px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    bottom: 5px;
    h1 {
        color: var(--color1);
        padding-top: 5%;
    }
}

.nav-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--color4);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.nav-button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu {
    display: flex;
    margin-left: 15%;
    li {
        padding-left: 30px;
    }
    a {
        font-size: 1.5rem;
    }
    li, a {
        display: inline-block;
        color: var(--color3);
        text-decoration: none;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
    }
}

.open-menu, .close-menu {
    display: none;
}

#check {
    display: none;
}

/* Top banner and it's elements */

.top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 5%;
}

.banner-text-container {
    align-items: start;
    justify-content: start;
    max-width: 50%;
    h1 {
        font-weight: 700;
        padding: 1% 0% 1% 0%;
    }
    p {
        max-width: 900px;
    }
}

.banner-image-container {
    img {
        width: 800px;
        height: 800px;
    }
}

.create-account-button {
    width: 250px;
    height: 70px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}